# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/

# Env & config locais
.env
*.env

# Dados e artefactos (ajusta à tua estrutura)
data/
qdrant_storage/
logs/
*.log

# IDEs
.vscode/
.idea/

# Docker
*.pid
*.tar

# Code
utils.py
